@use '../base/mixins' as m;
@use '../base/variables' as v;

.sobre-festival {
    padding: 5rem 0;

    @include m.tablet {
        @include m.grid(2, 5rem);
    }

    .imagen {
        display: flex;
        align-items: center;
    }

    .contenido-festival {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;

        @include m.tablet {
            margin-top: 0;
        }

        h2 {
            margin-bottom: 2rem;
        }

        .fecha {
            color: v.$rosa;
            font-weight: bold;
        }
    }
}